@charset 'utf-8';
header {
  height: 26px;
  background-color: #f2f2f2;
  font-size: 12px;
  line-height: 26px;
}
header a {
  color: #999;
}
header a:hover {
  color: red;
  text-decoration: underline;
}
header #contenier {
  width: 1190px;
  height: 26px;
  margin: 0 auto;
}
header #contenier .back_home {
  float: left;
  width: 63px;
  margin-right: 20px;
}
header #contenier .back_home .iconfont {
  font-size: 12px;
  color: #F83C3D;
  float: left;
}
header #contenier #login_info1 {
  width: 260px;
  height: 26px;
  float: left;
}
header #contenier #login_info1 em {
  float: left;
  color: #999;
  width: 84px;
  height: 16px;
}
header #contenier #login_info1 .login {
  float: left;
  color: #999;
  width: 40px;
  padding-left: 20px;
}
header #contenier #login_info1 .reg {
  width: 68px;
  padding-left: 10px;
}
header #contenier #quick_menu {
  float: right;
}
header #contenier #quick_menu .iconfont {
  float: left;
  font-size: 12px;
  color: #F83C3D;
}
header #contenier #quick_menu li {
  float: left;
  margin-right: 20px;
}
header #contenier #quick_menu .menu_item-mytaobao {
  position: relative;
}
header #contenier #quick_menu .menu_item-mytaobao :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-mytaobao :hover .menu_bd_mytaobao {
  display: block;
}
header #contenier #quick_menu .menu_item-mytaobao .menu1 {
  width: 50px;
  padding: 0 10px;
  height: 26px;
  position: relative;
}
header #contenier #quick_menu .menu_item-mytaobao .menu1:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-mytaobao .menu1 .iconfont {
  color: #333;
  float: left;
  position: absolute;
  right: -3px;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-mytaobao .menu_bd_mytaobao {
  width: 85px;
  height: 50px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  text-align: center;
}
header #contenier #quick_menu .menu_item-collect {
  position: relative;
  width: 48px;
}
header #contenier #quick_menu .menu_item-collect :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-collect :hover .menu_bd_collect {
  display: block;
}
header #contenier #quick_menu .menu_item-collect .menu2 {
  width: 50px;
  padding: 0 10px;
  height: 26px;
}
header #contenier #quick_menu .menu_item-collect .menu2:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-collect .menu2 .iconfont {
  color: #333;
  position: absolute;
  right: -10px;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-collect .menu_bd_collect {
  width: 80px;
  height: 55px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  text-align: center;
}
header #contenier #quick_menu .menu_item-collect .menu_bd_collect a {
  float: left;
}
header #contenier #quick_menu .menu_item-support {
  position: relative;
}
header #contenier #quick_menu .menu_item-support .menu_item_support {
  width: 65px;
}
header #contenier #quick_menu .menu_item-support .menu_item_support:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-support .menu_item_support .iconfont {
  color: #333;
  position: absolute;
  right: 0;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-support :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-support :hover .menu_bd_support {
  display: block;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support {
  position: absolute;
  left: 0;
  font-size: 12px;
  position: relative;
  display: none;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul {
  width: 120px;
  position: fixed;
  border: 1px solid #999;
  color: #666;
  position: absolute;
  right: 0;
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul li {
  width: 100%;
  border-bottom: 1px dashed #666;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul h3 {
  font-size: 14px;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul a {
  display: inline-block;
  width: 48px;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul .lobby {
  display: inline-block;
  width: 72px;
}
header #contenier #quick_menu .menu_ietm-phone {
  position: relative;
}
header #contenier #quick_menu .menu_ietm-phone :hover {
  color: red;
  text-decoration: underline;
}
header #contenier #quick_menu .menu_ietm-phone :hover .menu_mobile {
  display: block;
}
header #contenier #quick_menu .menu_ietm-phone .menu3 {
  width: 48px;
}
header #contenier #quick_menu .menu_ietm-phone .menu_mobile {
  width: 118px;
  height: 80px;
  position: absolute;
  left: -58px;
  top: 26px;
  display: none;
  z-index: 99;
}
#serch_header {
  height: 119px;
  border-bottom: none;
  margin: -30px 0 0;
  min-width: 990px;
  position: relative;
}
#serch_header .headerLayout {
  width: 1190px;
  margin: 0 auto;
  margin-top: 26px;
}
#serch_header .headerLayout .headercon {
  width: 1190px;
  position: relative;
}
#serch_header .headerLayout .malllogo {
  position: absolute;
  left: 0;
  padding-top: 28px;
}
#serch_header .headerLayout .malllogo .mlogo {
  float: left;
  margin-right: 10px;
  padding: 0;
}
#serch_header .headerLayout .malllogo .mlogo img {
  height: 40px;
}
#serch_header .headerLayout .serch_extra .tm-serch #mallserch {
  float: right;
  padding-top: 25px;
  width: 390px;
  overflow: hidden;
  position: relative;
}
#serch_header .headerLayout .serch_extra .tm-serch #mallserch .mallserch_form {
  border: 3px solid #ff1655;
  border-right: none;
}
#serch_header .headerLayout .serch_extra .tm-serch #mallserch .mallserch_form .serch_input {
  position: relative;
  height: 30px;
  vertical-align: middle;
}
#serch_header .headerLayout .serch_extra .tm-serch #mallserch .mallserch_form .serch_input .combo-box {
  color: #000;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 289px;
  height: 20px;
  line-height: 20px;
  padding: 5px 3px 5px 5px;
  outline: 0;
  border: 0;
  font-weight: 900;
  box-sizing: content-box;
}
#serch_header .headerLayout .serch_extra .tm-serch #mallserch .mallserch_form button {
  position: absolute;
  right: 0;
  top: 25px;
  width: 90px;
  border: 0;
  font-size: 16px;
  letter-spacing: 4px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right, #ff1655 20%, #ff5295 80%);
  height: 36px;
  overflow: hidden;
  font-family: '\5FAE\8F6F\96C5\9ED1', arial, "\5b8b\4f53";
}
#menu_header {
  border-bottom: 1px solid #000;
  height: 37px;
  line-height: 37px;
  background-color: #fff;
}
#menu_header .menu_wrapper {
  position: relative;
  width: 1190px;
  margin: 0 auto;
  overflow: auto;
}
#menu_header .menu_wrapper .menu_left {
  float: left;
}
#menu_header .menu_wrapper .menu_left .link.first {
  padding-left: 46px;
}
#menu_header .menu_wrapper .menu_left .link {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  height: 37px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
#menu_header .menu_wrapper .menu_right {
  float: right;
  height: 100%;
}
#menu_header .menu_wrapper .menu_right .link {
  padding-left: 46px;
  position: relative;
  display: inline-block;
  margin-right: 40px;
  height: 37px;
  font-size: 14px;
  line-height: 37px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
#detail_main {
  width: 1190px;
  margin: 20px auto;
}
#detail_main .main_meta {
  width: 990px;
  position: relative;
  min-height: 500px;
}
#detail_main .main_meta .tm_clear .tb_property {
  float: left;
  width: 100%;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper {
  margin: 0 0 0 460px;
  color: #666;
  padding: 0 0 10px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb_detail-hd {
  padding: 20px 10px 12px;
  color: #000;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb_detail-hd .fromname {
  font-size: 14px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb_detail-hd .fromname img {
  margin-left: 5px;
  position: relative;
  width: 20px;
  aspect-ratio: auto 20/20;
  height: 20px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb_detail-hd .newp {
  font-size: 14px;
  color: #ff0036;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .focus_banner {
  background: url(../../img/detail_img/detail_618background.png);
  background-size: 100% 50px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .focus_banner dd {
  color: #fff;
  position: relative;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .focus_banner dd .logopic {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 10px 0 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .focus_banner dd .logopic img {
  margin: -6px 0 0 5px;
  height: 28px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel {
  width: 510px;
  background-color: #e9e9e9;
  position: relative;
  left: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 20px;
  background: url(../../img/detail_img/detail_618background2.png) no-repeat;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_pirce-panel {
  position: static;
  color: #333;
  padding-left: 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_pirce-panel .tb_metatit {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_pirce-panel dd {
  font-family: Arial;
  color: #333;
  margin-left: 70px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_pirce-panel dd span {
  font-size: 14px;
  text-decoration: line-through;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel .tb_promo {
  color: #ff0036;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
  line-height: 36px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel dd {
  font-family: Arial;
  margin-left: 70px;
  color: #333;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel dd .tm-yen {
  vertical-align: middle;
  color: #FF0036;
  font-size: 18px;
  font-family: Arial;
  display: inline-block;
  margin-bottom: -6px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel dd .tm-price {
  vertical-align: middle;
  font-size: 30px;
  color: #FF0036;
  font-weight: bolder;
  font-family: Arial;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel dd .tm-promo-type {
  background-color: #f47a86;
  border-radius: 1px;
  color: #fff;
  height: 16px;
  line-height: 16px;
  margin: 0 2px 4px 6px;
  padding: 1px 5px;
  position: relative;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_promo-panel dd .tm-promo-type s {
  position: absolute;
  width: 0;
  display: block;
  font-size: 0;
  left: -4px;
  bottom: 0;
  height: 0;
  border: 3px solid #f47a86;
  border-color: transparent #f47a86 #f47a86 transparent;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_shop-promotion {
  position: relative;
  z-index: 5;
  line-height: 32px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_shop-promotion div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 510px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_shop-promotion div .tb-metatit {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tm_shop-promotion div dd {
  color: #b5621b;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  margin-right: 50px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tariff_rule {
  position: relative;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tariff_rule .tb-metatit {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tariff_rule dd {
  font-family: Arial;
  color: #333;
  margin-left: 70px;
  font-size: 12px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm_panel .tariff_rule dd a {
  color: #999;
  text-decoration: underline;
  position: absolute;
  right: 10px;
  top: 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta {
  margin: 5px 20px 5px 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel {
  line-height: 24px;
  color: #333;
  position: relative;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel .tb-metatit {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel .mui_addr_tri_1 {
  color: #333;
  font-size: 12px;
  margin-right: -12px;
  padding-right: 12px;
  cursor: pointer;
  background: 0 0;
  border: none;
  position: relative;
  z-index: 2;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel .mui_addr_tri_2 {
  font-size: 12px;
  color: #333;
  margin-right: -12px;
  padding-right: 12px;
  cursor: pointer;
  background: 0 0;
  border: none;
  position: relative;
  z-index: 2;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel .tb-postAge-info {
  color: #333;
  padding: 0 5px 0 0;
  position: relative;
  display: inline-block;
  font-size: 12px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-meta .tm-delivery-panel .tb-postAge-info a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm-ind-panel {
  border: 1px dotted #c9c9c9;
  border-width: 1px 0;
  margin: -1px 20px 0 0;
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  clear: both;
  display: flex;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm-ind-panel .tm-ind-item {
  float: left;
  width: 33%;
  text-align: center;
  position: relative;
  left: -1px;
  border-left: 1px solid #e5dfda;
  flex: 1;
  line-height: 16px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm-ind-panel .tm-ind-item .tm-label {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #999;
  font-size: 12px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tm-ind-panel .tm-ind-item .tm-count {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  color: #FF0036;
  font-weight: 700;
  margin-left: 3px;
  font-size: 12px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount {
  font-size: 12px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount .tb-metatit {
  width: 66px;
  text-align: left;
  float: left;
  margin-top: 6px;
  color: #838383;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount dd {
  height: 35px;
  line-height: 31px;
  color: #878787;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount dd .tb-amount-widget .tb-text {
  color: #666;
  font-size: 12px;
  background-position: -406px -41px;
  margin: 0;
  padding: 3px 2px 0 3px;
  height: 26px;
  border: 1px solid #a7a6ac;
  width: 36px;
  line-height: 26px;
  vertical-align: middle;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount dd .tb-amount-widget .mui-amount-btn {
  vertical-align: middle;
  display: inline-block;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount dd .tb-amount-widget .mui-amount-btn .icon-xiangshangjiantou {
  width: 16px;
  height: 12px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #a7a6ab;
  display: block;
  line-height: 12px;
  font-size: 16px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-amount dd .tb-amount-widget .mui-amount-btn .icon-xiajiantou {
  width: 16px;
  height: 12px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #a7a6ab;
  display: block;
  line-height: 12px;
  font-size: 16px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-action {
  clear: both;
  padding: 10px 0 0 66px;
  margin: 10px 0 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-action .tb-btn-add {
  margin-right: 10px;
  float: left;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .tb-action .tb-btn-add a {
  background-color: #ff0036;
  border: 1px solid #ff0036;
  color: #fff;
  margin-right: 0;
  float: left;
  overflow: hidden;
  position: relative;
  width: 178px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .picture {
  width: 418px;
  height: 418px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
}
#detail_main .main_meta .tm_clear .tb_property .tb_wrapper .picture > img {
  width: 418px;
  height: 418px;
  position: absolute;
  top: 0;
  left: 0;
}
#detail_main .main_content {
  width: 790px;
  margin: 0 auto;
  overflow: visible;
}
#detail_main .main_content #TabBarBox {
  width: 788px;
  border: 1px solid #dfdfdf;
  z-index: 9999;
}
#detail_main .main_content #TabBarBox #TabBar {
  width: 100%;
  position: relative;
  height: 48px;
  background-color: #fff;
  font-size: 12px;
}
#detail_main .main_content #TabBarBox #TabBar .tm-selected {
  position: relative;
  border-top: 2px solid #FF0036;
  height: 47px;
  margin: -1px 0 0 -1px;
  z-index: 1;
  padding: 0;
}
#detail_main .main_content #TabBarBox #TabBar .tm-selected > a {
  font-weight: 700;
  display: block;
  height: 100%;
  line-height: 46px;
  color: #FF0036;
  border-left: 1px solid #cfbfb1;
  border-right: 1px solid #cfbfb1;
}
#detail_main .main_content #TabBarBox #TabBar li {
  float: left;
  margin-left: -1px;
  height: 48px;
  line-height: 48px;
  display: block;
  cursor: pointer;
}
#detail_main .main_content #TabBarBox #TabBar li a {
  border-right: 1px dotted #d2d2d2;
  color: #333;
  padding: 0 20px;
}
#detail_main #attributes {
  font-size: 12px;
}
#detail_main #attributes .attributes-list {
  clear: both;
  border: 1px solid #e6e6e6;
  border-top: none;
  margin-bottom: 10px;
}
#detail_main #attributes .attributes-list .tm_brandAttr {
  padding: 8px 20px 10px;
  border-top: 1px solid #e6e6e6;
  height: 40px;
  line-height: 40px;
  display: block;
}
#detail_main #attributes .attributes-list .tm_brandAttr .name {
  color: #666;
  float: left;
  margin-right: 15px;
}
#detail_main #attributes .attributes-list .tm-clear {
  padding: 5px 20px;
  line-height: 22px;
  color: #999;
}
#detail_main #attributes .attributes-list .subAttrList {
  padding: 0 20px 18px;
  text-indent: 0;
  border-top: 1px solid #fff;
  height: 131px;
}
#detail_main #attributes .attributes-list .subAttrList li {
  display: inline;
  float: left;
  width: 220px;
  height: 18px;
  overflow: hidden;
  margin: 10px 15px 0 0;
  line-height: 18px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
#detail_main .img_box {
  margin-top: 20px;
  margin-bottom: 150px;
}
#detail_main .img_box img {
  width: 790px;
}
footer {
  height: 805px;
}
footer #footer_ensure {
  width: 1190px;
  height: 100px;
  background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
  margin: 25px auto;
  padding: 0;
}
footer #footer_ensure a {
  float: left;
  display: block;
  width: 297px;
  height: 100px;
}
footer #footer_desc {
  width: 1190px;
  padding-top: 22px;
  height: 190px;
  margin: auto;
  border-top: 1px solid #ededed;
  background: url(../img/index_img/footer_beijing.jfif) no-repeat 45px bottom;
}
footer #footer_desc .global dl {
  float: left;
  width: 186px;
  padding-left: 52px;
}
footer #footer_desc .global dl dt {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
footer #footer_desc .global dl dd {
  text-align: left;
}
footer #footer_desc .global dl a {
  float: left;
  width: 100px;
  overflow: hidden;
  text-align: left;
  height: 22px;
  line-height: 25px;
  color: #8b8b8b;
  font-size: 12px;
}
footer #footer_desc .global dl img {
  width: 105px;
  height: 105px;
}
footer #footer_copyright {
  border-top: 2px solid #ff0036;
  background-color: #000;
  text-align: left;
  min-height: 177px;
}
footer #footer_copyright .fragment p {
  width: 1190px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
}
footer #footer_copyright .fragment a {
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
}
footer #footer_copyright .footer_copyright {
  line-height: 20px;
  background-color: #000;
  color: #a4a4a4;
  width: 1190px;
  margin: 0 auto;
  font-size: 12px;
}
footer #footer_copyright .footer_copyright a {
  color: #a4a4a4;
  margin-right: 65px;
}
footer #footer_copyright .footer_copyright .footer_newdata {
  background: #fff;
  width: 146px;
  height: 71px;
  margin: 6px 680px 0;
}
