@charset 'utf-8';
.logo_area {
  box-sizing: border-box;
  height: 80px;
  padding: 11px 0;
}
.logo_area .wrapper {
  display: flex;
  justify-content: space-between;
}
.logo_area img {
  height: 58px;
  transform: translate(-15px);
}
.logo_area .search {
  width: 424px;
  height: 42px;
  margin-top: 8px;
  background-color: #EBEBEB;
  border-radius: 21px;
  position: relative;
}
.logo_area .search .search_icon {
  text-align: center;
  box-sizing: border-box;
  width: 104px;
  height: 100%;
  background-color: #F5F5F5;
  border-radius: 21px 0 0 21px;
  font-size: 12px;
  line-height: 42px;
}
.logo_area .search .search_icon:hover {
  border-radius: 21px 0 0 0;
}
.logo_area .search .search_icon:hover .select {
  display: block;
}
.logo_area .search .search_icon .select {
  width: 104px;
  background-color: #F5F5F5;
  display: none;
}
.logo_area .search .search_icon .select a {
  font-size: 12px;
  color: #666;
}
.logo_area .search .search_icon .select:hover {
  background-color: white;
}
.logo_area .search .search_icon .select:hover a {
  color: #d74949;
}
.logo_area .search input {
  height: 42px;
  width: 236px;
  position: absolute;
  left: 104px;
  top: 0;
  background-color: #EBEBEB;
}
.logo_area .search .search_right {
  position: absolute;
  right: 0;
  top: 2px;
  height: 38px;
  width: 81px;
  background: linear-gradient(to right, #ffa77f, #ff5200);
  border-radius: 19px;
  line-height: 38px;
  text-align: center;
}
.logo_area .search .search_right a {
  font-size: 18px;
  font-family: "宋体";
  font-weight: 600;
  color: white;
}
.content_main {
  background-color: #e9e4e4;
  padding: 25px 0;
}
.content_main .wrapper {
  background-color: white;
  border-radius: 24px;
}
.content_main .wrapper .main_title {
  height: 73px;
  line-height: 73px;
  display: flex;
  padding: 0 18px;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}
.content_main .wrapper .main_title .title_num {
  font-size: 18px;
  font-weight: 600;
}
.content_main .wrapper .main_title #total {
  font-weight: bolder;
  font-size: 22px;
  color: #FF5000;
}
.content_main .wrapper .main_title .btn1 {
  display: inline-block;
  width: 74px;
  height: 42px;
  background-color: #AAA;
  border-radius: 21px;
  line-height: 42px;
  text-align: center;
  color: white;
  margin-left: 6px;
}
.content_main .wrapper .main_mid .main_mid_nav {
  line-height: 50px;
  padding: 0 18px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.content_main .wrapper .main_mid .main_mid_nav input {
  transform: translateY(3px);
  width: 15px;
  height: 15px;
}
.content_main .wrapper .main_mid .main_mid_nav .main_mid_nav_right > span {
  margin-right: 100px;
}
.content_main .wrapper .main_mid .main_mid_product {
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header {
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header input {
  width: 14px;
  height: 14px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header .icon1 {
  font-size: 22px;
  color: red;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header a {
  color: #666;
  font-size: 13px;
  margin-right: 5px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header a:hover {
  color: #FF5000;
  text-decoration: underline;
}
.content_main .wrapper .main_mid .main_mid_product .shop_header .icon2 {
  font-size: 22px;
  color: #37bcf0;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product {
  box-sizing: border-box;
  margin: 5px 24px 0;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 18px;
  padding: 20px 0 0 25px;
  position: relative;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product > input {
  width: 15px;
  height: 15px;
  transform: translateY(-28px);
  margin-right: 5px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_img {
  display: inline-block;
  margin-right: 8px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_img img {
  width: 80px;
  height: 80px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_info {
  display: inline-block;
  width: 238px;
  font-size: 12px;
  line-height: 20px;
  transform: translateY(-14px);
  position: relative;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_info a {
  color: black;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_info a:hover {
  color: #FF5000;
  text-decoration: underline;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_info .product_icon {
  position: absolute;
  bottom: -46px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_size {
  width: 212px;
  height: 118px;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #AAA;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 25px;
  position: absolute;
  top: 0;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_size:hover {
  background-color: #fff;
  border: 1px dashed #FF5000;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_size span {
  background-color: #fe7130;
  color: white;
  padding: 0 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_size:hover span {
  display: block;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message {
  position: absolute;
  right: 0;
  display: inline-block;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message div {
  display: inline-block;
  margin-right: 62px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_price {
  line-height: 20px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_price .original_price {
  font-size: 12px;
  color: #AAA;
  text-decoration: line-through;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_price .now_price {
  font-size: 14px;
  font-weight: 900;
  color: black;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_amount {
  width: 77px;
  height: 25px;
  position: relative;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_amount a {
  display: block;
  height: 23px;
  width: 17px;
  border: 1px solid #e5e5e5;
  background: #f0f0f0;
  text-align: center;
  line-height: 23px;
  color: #444;
  position: absolute;
  top: 0;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_amount input {
  width: 39px;
  height: 15px;
  line-height: 15px;
  border: 1px solid #aaa;
  color: #343434;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;
  background-position: -75px -375px;
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 0;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_amount .reduce {
  right: 0;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .product_prices {
  transform: translateY(-12px);
  font-size: 16px;
  font-weight: 900;
  color: #ff5200;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .user_operate {
  font-size: 12px;
  width: 60px;
  line-height: 22px;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .user_operate a {
  color: #666;
}
.content_main .wrapper .main_mid .main_mid_product .shop_product .product_message .user_operate a:hover {
  color: #FF5000;
  text-decoration: underline;
}
.content_main .wrapper .main_mid .main_mid_aggregate {
  height: 73px;
  line-height: 73px;
  display: flex;
  padding: 0 18px;
  justify-content: space-between;
  padding-bottom: 20px;
}
.content_main .wrapper .main_mid .main_mid_aggregate div:nth-of-type(1) {
  font-size: 14px;
}
.content_main .wrapper .main_mid .main_mid_aggregate div:nth-of-type(1) input {
  width: 15px;
  height: 15px;
  transform: translateY(2px);
}
.content_main .wrapper .main_mid .main_mid_aggregate div:nth-of-type(1) a {
  font-size: 13px;
  color: #343434;
  margin-right: 15px;
}
.content_main .wrapper .main_mid .main_mid_aggregate div:nth-of-type(1) a:hover {
  color: #ff5200;
  text-decoration: underline;
}
.content_main .wrapper .main_mid .main_mid_aggregate .product_select {
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
}
.content_main .wrapper .main_mid .main_mid_aggregate .product_select em {
  font-family: "黑体";
  font-size: 22px;
  font-weight: 900;
  color: #FF5000;
}
.content_main .wrapper .main_mid .main_mid_aggregate .product_select_txt {
  font-size: 14px;
}
.content_main .wrapper .main_mid .main_mid_aggregate #total {
  font-weight: bolder;
  font-family: "黑体";
  font-size: 22px;
  color: #FF5000;
}
.content_main .wrapper .main_mid .main_mid_aggregate .btn1 {
  display: inline-block;
  width: 74px;
  height: 42px;
  background-color: #AAA;
  border-radius: 21px;
  line-height: 42px;
  text-align: center;
  color: white;
  margin-left: 6px;
}
