.container {
  height: 458px;
  margin-bottom: 20px;
}
.container .container-box {
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}
.container .container-box .container-white {
  height: 83px;
  box-sizing: border-box;
  padding: 20px 0;
}
.container .container-box .container-input {
  width: 380px;
  height: 305px;
  margin: 0 auto;
}
.container .container-box .container-input .reg-input {
  width: 380px;
  height: 36px;
  position: relative;
}
.container .container-box .container-input .reg-input label {
  display: inline-block;
  width: 120px;
  height: 100%;
  line-height: 36px;
  color: #111;
  font-size: 14px;
  position: absolute;
  left: -70px;
  text-align: right;
}
.container .container-box .container-input .reg-input .reg-inputboxs {
  width: 320px;
  height: 36px;
  margin-top: 20px;
  margin-left: 60px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox {
  width: 308px;
  height: 36px;
  display: flex;
  align-items: center;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .input-control {
  width: 233px;
  height: 25.5px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .input-control input {
  font-size: 14px;
  width: 233px;
  height: 21px;
  padding: 2px 0;
  padding-left: 10px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .input-control input::-webkit-input-placeholder {
  color: #d4d4d4;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .input-extra {
  width: 70px;
  height: 30px;
  margin-left: 5px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .input-extra a {
  font-size: 14px;
  color: red;
  line-height: 30px;
  text-align: center;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 {
  width: 126px;
  height: 36px;
  color: #000;
  font-size: 17px;
  white-space: nowrap;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 .country-select {
  width: 106px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  border-right: 1px solid #d6d6d6;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 .country-select .country-code {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  cursor: pointer;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 .country-select .country-code span {
  width: 67px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 .country-select .country-code div {
  display: flex;
  text-align: left;
  width: 39px;
  position: relative;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-1 .country-select .country-code div .icon-xiaosanjiaodown {
  position: absolute;
  right: -25px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-2 {
  width: 182px;
  padding-left: 10px;
  font-size: 14px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-2 input {
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 100%;
  padding: 1px 0;
  line-height: 34px;
}
.container .container-box .container-input .reg-input .reg-inputboxs .reg-inputbox .reg-inputbox-2 input::-webkit-input-placeholder {
  color: #d4d4d4;
}
.container .container-box .container-input #reg-a {
  display: block;
  width: 320px;
  height: 36px;
  border-radius: 3px;
  line-height: 36px;
  margin-top: 50px;
  margin-left: 60px;
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
  color: #fff;
  background-image: linear-gradient(90deg, #999, #666);
}
.container .container-box .container-input .agreement {
  width: 320px;
  height: 39px;
  margin-left: 60px;
  margin-top: 40px;
  font-size: 13px;
  text-align: left;
  display: flex;
}
.container .container-box .container-input .agreement .agreement-input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.container .container-box .container-input .agreement label {
  color: #999;
}
.container .container-box .container-input .agreement label p a {
  color: red;
}
.container .container-box .container-input .to-email-reg {
  width: 380px;
  height: 18px;
  text-align: right;
  margin-top: 30px;
}
.container .container-box .container-input .to-email-reg a {
  color: #ff5000;
  font-size: 14px;
}
