@charset 'utf-8';
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1655344472845') format('woff2'), url('iconfont.woff?t=1655344472845') format('woff'), url('iconfont.ttf?t=1655344472845') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
}
#backgroud {
  background-size: cover;
}
.wrapper {
  width: 1192px;
  margin: 0 auto;
}
header {
  height: 26px;
  background-color: #f2f2f2;
  font-size: 12px;
  line-height: 26px;
}
header a {
  color: #999;
}
header a:hover {
  color: red;
  text-decoration: underline;
}
header #contenier {
  width: 990px;
  height: 26px;
  margin: 0 auto;
}
header #contenier .back_home {
  float: left;
  width: 63px;
  margin-right: 20px;
}
header #contenier .back_home .iconfont {
  font-size: 12px;
  color: #F83C3D;
  float: left;
}
header #contenier #login_info1 {
  width: 260px;
  height: 26px;
  float: left;
}
header #contenier #login_info1 em {
  float: left;
  color: #999;
  width: 84px;
  height: 16px;
}
header #contenier #login_info1 .login {
  float: left;
  color: #999;
  width: 40px;
  padding-left: 20px;
}
header #contenier #login_info1 .reg {
  width: 68px;
  padding-left: 10px;
}
header #contenier #quick_menu {
  float: right;
}
header #contenier #quick_menu .iconfont {
  float: left;
  font-size: 12px;
  color: #F83C3D;
}
header #contenier #quick_menu li {
  float: left;
  margin-right: 20px;
}
header #contenier #quick_menu .menu_item-mytaobao {
  position: relative;
}
header #contenier #quick_menu .menu_item-mytaobao :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-mytaobao :hover .menu_bd_mytaobao {
  display: block;
}
header #contenier #quick_menu .menu_item-mytaobao .menu1 {
  width: 50px;
  padding: 0 10px;
  height: 26px;
  position: relative;
}
header #contenier #quick_menu .menu_item-mytaobao .menu1:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-mytaobao .menu1 .iconfont {
  color: #333;
  float: left;
  position: absolute;
  right: -3px;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-mytaobao .menu_bd_mytaobao {
  width: 85px;
  height: 50px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  text-align: center;
}
header #contenier #quick_menu .menu_item-collect {
  position: relative;
  width: 48px;
}
header #contenier #quick_menu .menu_item-collect :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-collect :hover .menu_bd_collect {
  display: block;
}
header #contenier #quick_menu .menu_item-collect .menu2 {
  width: 50px;
  padding: 0 10px;
  height: 26px;
}
header #contenier #quick_menu .menu_item-collect .menu2:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-collect .menu2 .iconfont {
  color: #333;
  position: absolute;
  right: -10px;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-collect .menu_bd_collect {
  width: 80px;
  height: 55px;
  border: 1px solid #999;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  text-align: center;
}
header #contenier #quick_menu .menu_item-collect .menu_bd_collect a {
  float: left;
}
header #contenier #quick_menu .menu_item-support {
  position: relative;
}
header #contenier #quick_menu .menu_item-support .menu_item_support {
  width: 65px;
}
header #contenier #quick_menu .menu_item-support .menu_item_support:hover .iconfont {
  transform: rotate(180deg);
}
header #contenier #quick_menu .menu_item-support .menu_item_support .iconfont {
  color: #333;
  position: absolute;
  right: 0;
  top: 1px;
  transition: 0.3s;
}
header #contenier #quick_menu .menu_item-support :hover {
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-support :hover .menu_bd_support {
  display: block;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support {
  position: absolute;
  left: 0;
  font-size: 12px;
  position: relative;
  display: none;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul {
  width: 120px;
  position: fixed;
  border: 1px solid #999;
  color: #666;
  position: absolute;
  right: 0;
  background-color: #fff;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul li {
  width: 100%;
  border-bottom: 1px dashed #666;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul h3 {
  font-size: 14px;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul a {
  display: inline-block;
  width: 48px;
}
header #contenier #quick_menu .menu_item-support .menu_bd_support ul .lobby {
  display: inline-block;
  width: 72px;
}
header #contenier #quick_menu .menu_ietm-phone {
  position: relative;
}
header #contenier #quick_menu .menu_ietm-phone :hover {
  color: red;
  text-decoration: underline;
}
header #contenier #quick_menu .menu_ietm-phone :hover .menu_mobile {
  display: block;
}
header #contenier #quick_menu .menu_ietm-phone .menu3 {
  width: 48px;
}
header #contenier #quick_menu .menu_ietm-phone .menu_mobile {
  width: 118px;
  height: 80px;
  position: absolute;
  left: -58px;
  top: 26px;
  display: none;
  z-index: 99;
}
#topbanner {
  width: 100%;
  height: 129px;
  background-color: #F83C3D;
}
#topbanner div:not(.wrapper) {
  width: 236px;
  height: 88px;
  background-color: #fff;
  float: left;
  margin-top: 20px;
  margin-right: 1px;
  border-radius: 15px;
}
#topbanner .m-right {
  margin-right: 0;
}
#topbanner .banner1 {
  background: url(../../img/banner1.png);
}
#topbanner .banner2 {
  background: url(../../img/banner2.png);
}
#topbanner .banner3 {
  background: url(../../img/banner3.png);
}
#topbanner .banner4 {
  background: url(../../img/banner4.png);
}
#topbanner .banner5 {
  background: url(../../img/banner5.png);
}
#serch_input {
  position: relative;
  width: 1190px;
  height: 111px;
  display: flex;
}
#serch_input #serch_left {
  width: 360px;
  height: 800px;
  position: absolute;
  top: 0;
  left: -360px;
}
#serch_input #serch_right {
  width: 360px;
  height: 800px;
  position: absolute;
  top: 0;
  right: -360px;
}
#serch_input .logo-box {
  margin-top: 28px;
  margin-left: 73px;
  float: left;
}
#serch_input .logo-box img {
  width: 87px;
  height: 53px;
}
#serch_input .serch-box {
  width: 632px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid #fe0137;
  margin: 36px 0 0 86px;
  float: left;
  position: relative;
}
#serch_input .serch-box .serch-input {
  width: 540px;
  border-radius: 20px;
  font-size: 12px;
  color: #000;
  height: 42px;
  line-height: 42px;
  margin-left: 16px;
}
#serch_input .serch-box .serch-button {
  width: 90px;
  height: 42px;
  background-color: #fe0137;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
}
#main {
  width: 1190px;
}
#main #main_nav {
  height: 43px;
  width: 100%;
}
#main #main_nav .main_nav-left {
  font-size: 16px;
  color: #fe0137;
  float: left;
  margin: 10px 0 0 18px;
  font-weight: 600;
}
#main #main_nav .text_slideshow .top .swiper {
  width: 100%;
  height: 100%;
}
#main #main_nav .text_slideshow .top .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main #main_nav .text_slideshow .top .swiper-slide > img {
  display: block;
  width: 520px;
  height: 280px;
  object-fit: cover;
}
#main #main_nav .text_slideshow .bottom .swiper {
  width: 100%;
  height: 100%;
}
#main #main_nav .text_slideshow .bottom .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#main #main_nav .text_slideshow .bottom .swiper-slide img {
  display: block;
  width: 256px;
  height: 100%;
  object-fit: cover;
}
#main #main_nav .text_slideshow .bottom .swiper {
  margin-left: auto;
  margin-right: auto;
}
#main #main_nav .main_nav-right {
  width: 940px;
  height: 35px;
  margin: 8px 0 0 250px;
  display: flex;
  flex-direction: row;
}
#main #main_nav .main_nav-right a :hover {
  color: #fe0137;
  text-decoration: underline;
}
#main #main_nav .main_nav-right a span {
  font-size: 14px;
  line-height: 35px;
  color: #000;
  margin-right: 16px;
}
#main #main_nav .main_nav-right a img {
  width: 100px;
  height: 30px;
  margin-top: 1px;
  margin-right: 16px;
}
#main #main_text {
  width: 100%;
  display: block;
  position: relative;
  height: 533px;
}
#main #main_text .text_left_nav {
  width: 212px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 12px 0 0 18px;
  font-size: 14px;
  float: left;
}
#main #main_text .text_left_nav span {
  padding-left: 5px;
  width: 28px;
  height: 32px;
  line-height: 32px;
}
#main #main_text .text_left_nav span :hover {
  color: #fe0137;
}
#main #main_text .text_left_nav span a {
  color: #666;
}
#main #main_text .text_slideshow {
  width: 520px;
  height: 519px;
  margin-top: 14px;
  margin-left: 23px;
  overflow: hidden;
  float: left;
}
#main #main_text .text_slideshow .top_slideshow {
  width: 520px;
  height: 280px;
  border-radius: 12px;
  background-color: #ebebeb;
}
#main #main_text .text_slideshow .bottom_slideshow {
  margin-top: 33px;
  width: 520px;
  height: 2016px;
  background-color: #ebebeb;
}
#main #main_text .text_vipcontent {
  float: left;
  margin: 14px 0 0 15px;
  width: 384px;
  height: 508px;
  border-radius: 12px;
  background-color: #f3f3f3;
  overflow: hidden;
}
#main #main_text .text_vipcontent .text_vipcontent-vipuser {
  width: 384px;
  height: 126px;
}
#main #main_text .text_vipcontent .text_vipcontent-vipuser .userup {
  width: 80px;
  height: 106px;
  margin: 20px auto 0;
}
#main #main_text .text_vipcontent .text_vipcontent-vipuser .userup > a > img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 0 auto;
  display: block;
}
#main #main_text .text_vipcontent .text_vipcontent-vipuser .userup > a > span {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  margin-left: 20px;
  margin-top: 10px;
}
#main #main_text .text__vipcontent-banner {
  margin-top: 17px;
  margin-left: 14px;
  width: 356px;
  height: 141px;
  overflow: hidden;
}
#main #main_text .text__vipcontent-banner img {
  width: 356px;
  height: 141px;
  border-radius: 6px;
}
#main #main_text .text_vipcontent-notice {
  width: 370px;
  height: 106px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-content: flex-start;
  margin: 27px 0 0 14px;
}
#main #main_text .text_vipcontent-notice .notice-top {
  color: #666;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 12px;
}
#main #main_text .text_vipcontent-notice .notice-top span {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-right: 6px;
  line-height: 16px;
}
#main #main_text .text_vipcontent-notice .notice-bottom {
  margin-bottom: 8px;
  width: 295px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main #main_text .text_vipcontent-notice .notice-bottom a {
  color: #666;
  font-size: 12px;
  line-height: 12px;
}
#main #main_text .text_vipcontent-notice .notice-bottom .notice_title {
  background-color: rgba(255, 174, 174, 0.2);
  color: #fe0137;
  font-size: 12px;
  padding: 3px 4px;
  border-radius: 2px;
  margin-right: 4px;
}
#main #main_text .text_vipcontent-mytao {
  margin: 20px 23px 0 32px;
  width: 384px;
  height: 51px;
  overflow: hidden;
  color: #333;
}
#main #main_text .text_vipcontent-mytao > div {
  width: 60px;
  height: 51px;
  float: left;
  margin-right: 34px;
}
#main #main_text .text_vipcontent-mytao > div > a {
  color: #333;
  font-size: 12px;
}
#main #main_text .text_vipcontent-mytao > div > a:hover {
  text-decoration: underline;
}
#main #main_text .text_vipcontent-mytao > div > a .iconfont {
  font-size: 22px;
  margin-left: 19px;
  font-weight: 600;
}
#main #main_shop {
  height: 664px;
  display: block;
  margin: 30px 0 0 18px;
  overflow: hidden;
  width: 100%;
}
#main #main_shop .item {
  margin-top: 18px;
  width: 100%;
}
#main #main_shop a {
  color: #000;
  display: block;
  width: 220px;
  margin-right: 13px;
  margin-bottom: 15px;
  float: left;
}
#main #main_shop a > img {
  width: 220px;
  height: 220px;
  border-radius: 18px;
}
#main #main_shop a > div {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  width: 208px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main #main_shop a > span {
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  color: #ff5000;
}
#main #main_internet {
  height: 691px;
  display: block;
  margin: 18px 0 0 18px;
  overflow: hidden;
  width: 100%;
}
#main #main_internet .item {
  margin-top: 18px;
  width: 100%;
}
#main #main_internet .internet_left {
  width: 222px;
  position: relative;
  overflow: hidden;
  float: left;
}
#main #main_internet .internet_left .left_content-top {
  width: 222px;
  height: 302px;
  float: left;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
#main #main_internet .internet_left .left_content-top img {
  width: 222px;
  height: 302px;
}
#main #main_internet .internet_left .left_content-top .left-desc {
  width: 190px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 4px 4px 0;
  position: absolute;
  left: 0;
  bottom: 26px;
  display: flex;
  flex-direction: row;
}
#main #main_internet .internet_left .left_content-top .left-desc .left-descl {
  margin: 14px 0 0 12px;
  width: 36px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
}
#main #main_internet .internet_left .left_content-top .left-desc .left-descm {
  margin: 16px 20px 0;
  height: 41px;
  width: 1px;
  background-color: hsla(0, 0%, 59.2%, 0.4);
}
#main #main_internet .internet_left .left_content-top .left-desc .left-descr .descr-title {
  margin-top: 13px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 25px;
  width: 72px;
  height: 25px;
  overflow: hidden;
}
#main #main_internet .internet_left .left_content-top .left-desc .left-descr .descr-text {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  width: 56px;
  height: 20px;
  overflow: hidden;
}
#main #main_internet .internet_left .left_content-bottom {
  width: 222px;
  height: 302px;
  float: left;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
#main #main_internet .internet_left .left_content-bottom img {
  width: 222px;
  height: 302px;
}
#main #main_internet .internet_left .left_content-bottom .left-desc {
  width: 190px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 4px 4px 0;
  position: absolute;
  left: 0;
  bottom: 26px;
  display: flex;
  flex-direction: row;
}
#main #main_internet .internet_left .left_content-bottom .left-desc .left-descl {
  margin: 14px 0 0 12px;
  width: 36px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
}
#main #main_internet .internet_left .left_content-bottom .left-desc .left-descm {
  margin: 16px 20px 0;
  height: 41px;
  width: 1px;
  background-color: hsla(0, 0%, 59.2%, 0.4);
}
#main #main_internet .internet_left .left_content-bottom .left-desc .left-descr .descr-title {
  margin-top: 13px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 25px;
  width: 72px;
  height: 25px;
  overflow: hidden;
}
#main #main_internet .internet_left .left_content-bottom .left-desc .left-descr .descr-text {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  width: 56px;
  height: 20px;
  overflow: hidden;
}
#main #main_internet .internet_right {
  float: left;
  display: block;
  overflow: hidden;
  margin-left: 12px;
  width: 937px;
}
#main #main_internet .internet_right .internet_right-box {
  width: 220px;
  height: 304px;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 14px;
}
#main #main_internet .internet_right .internet_right-box img {
  width: 220px;
  height: 220px;
  border-radius: 18px;
}
#main #main_internet .internet_right .internet_right-box .box_title {
  font-size: 18px;
  line-height: 25px;
  height: 25px;
  width: 220px;
  color: #000;
  overflow: hidden;
  margin-top: 12px;
  font-weight: 500;
}
#main #main_internet .internet_right .internet_right-box .box_text {
  font-size: 16px;
  line-height: 22px;
  height: 22px;
  width: 220px;
  overflow: hidden;
  margin-top: 4px;
  color: #ff5000;
}
#main #main_internet .internet_right .internet_right-box a {
  color: #000;
  display: block;
  width: 220px;
  margin-right: 13px;
  margin-bottom: 15px;
  float: left;
}
#main #main_internet .internet_right .internet_right-box a > img {
  width: 220px;
  height: 220px;
  border-radius: 18px;
}
#main #main_internet .internet_right .internet_right-box a > div {
  margin-top: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  width: 208px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main #main_internet .internet_right .internet_right-box a > span {
  margin-top: 5px;
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  color: #ff5000;
}
#main #main_wonderful {
  margin: 44px 18px 16px;
}
#main #main_wonderful .wonderful_top {
  position: relative;
  overflow: hidden;
}
#main #main_wonderful .wonderful_top .wonderful_topleft {
  float: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
#main #main_wonderful .wonderful_top .wonderful_topright {
  margin: 2px 0 0 6px;
  float: left;
  width: 68px;
  height: 20px;
  border-radius: 20px;
  background-color: #fe0137;
  text-align: center;
}
#main #main_wonderful .wonderful_top .wonderful_topright > span {
  width: 68px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 14px;
}
#main #main_wonderful .wonderful_bottom {
  margin-top: 18px;
  display: block;
  width: 1154px;
  position: relative;
  overflow: hidden;
}
#main #main_wonderful .wonderful_bottom .wonderful_box {
  width: 220px;
  height: 304px;
  border-radius: 18px;
  overflow: hidden;
  float: left;
  margin-right: 13px;
  margin-bottom: 22px;
  position: relative;
}
#main #main_wonderful .wonderful_bottom .wonderful_box img {
  width: 220px;
  height: 220px;
  border-radius: 18px;
}
#main #main_wonderful .wonderful_bottom .wonderful_box div {
  margin: 11px 0 0 6px;
  width: 208px;
  height: 44px;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  line-height: 22px;
}
#main #main_wonderful .wonderful_bottom .wonderful_box span {
  margin: 5px 0 0 6px;
  font-size: 20px;
  line-height: 24px;
  color: #ff5500;
}
footer {
  height: 805px;
}
footer #footer_ensure {
  width: 1190px;
  height: 100px;
  background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
  margin: 25px auto;
  padding: 0;
}
footer #footer_ensure a {
  float: left;
  display: block;
  width: 297px;
  height: 100px;
}
footer #footer_desc {
  width: 1190px;
  padding-top: 22px;
  height: 190px;
  margin: auto;
  border-top: 1px solid #ededed;
  background: url(../img/index_img/footer_beijing.jfif) no-repeat 45px bottom;
}
footer #footer_desc .global dl {
  float: left;
  width: 186px;
  padding-left: 52px;
}
footer #footer_desc .global dl dt {
  color: #646464;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
footer #footer_desc .global dl dd {
  text-align: left;
}
footer #footer_desc .global dl a {
  float: left;
  width: 100px;
  overflow: hidden;
  text-align: left;
  height: 22px;
  line-height: 25px;
  color: #8b8b8b;
  font-size: 12px;
}
footer #footer_desc .global dl img {
  width: 105px;
  height: 105px;
}
footer #footer_copyright {
  border-top: 2px solid #ff0036;
  background-color: #000;
  text-align: left;
  min-height: 177px;
}
footer #footer_copyright .fragment p {
  width: 1190px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
}
footer #footer_copyright .fragment a {
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
}
footer #footer_copyright .footer_copyright {
  line-height: 20px;
  background-color: #000;
  color: #a4a4a4;
  width: 1190px;
  margin: 0 auto;
  font-size: 12px;
}
footer #footer_copyright .footer_copyright a {
  color: #a4a4a4;
  margin-right: 65px;
}
footer #footer_copyright .footer_copyright .footer_newdata {
  background: #fff;
  width: 146px;
  height: 71px;
  margin: 6px 680px 0;
}
