@font-face {
  font-family: "iconfont"; /* Project id 3468592 */
  src: url('iconfont.woff2?t=1655454119661') format('woff2'),
       url('iconfont.woff?t=1655454119661') format('woff'),
       url('iconfont.ttf?t=1655454119661') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taobaowang:before {
  content: "\e606";
}

.icon-taobao:before {
  content: "\e607";
}

.icon-sanjiao1:before {
  content: "\e605";
}

.icon-gouwudai:before {
  content: "\e73e";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-dianpu:before {
  content: "\e895";
}

.icon-star:before {
  content: "\e9a1";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-gouwuchekong:before {
  content: "\e601";
}

.icon-kouhong:before {
  content: "\e602";
}

.icon-jiajujiancai:before {
  content: "\e603";
}

.icon-yiyaobaojian:before {
  content: "\e604";
}

.icon-yingtao:before {
  content: "\e630";
}

.icon-shouyeyingerche:before {
  content: "\e61f";
}

.icon-kafei:before {
  content: "\e60a";
}

.icon-miantiaomian:before {
  content: "\e60c";
}

.icon-yinxiang:before {
  content: "\e61b";
}

.icon-xuezi:before {
  content: "\e60d";
}

.icon-Txu:before {
  content: "\e610";
}

.icon-shouji:before {
  content: "\eac3";
}

.icon-zuanshi_o:before {
  content: "\eb70";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-DVD-Case:before {
  content: "\eb82";
}

.icon-qunzi:before {
  content: "\e6cb";
}

.icon-shafa:before {
  content: "\e64c";
}

